.poodlelink:hover {
  cursor: crosshair;
}

.crosshair {cursor: crosshair;}


::placeholder {
  color: #94E8B4;
  opacity: 1; /* Firefox */
}

:root {
  --colpal1: #B494E8;
  --colpal2: #A372BD;
  --colpal3: #615E8C;
  --colpal4: #514E61;
  --colpalDarkNav: #52395F;
  --onyxcol: #3A3B41;
  --brightcol: #ffffff;
}
